.nav {
    list-style-type: none;
    width: 1000px;
    height: 55px;
    background-color: #61dafb;
    display: flex;
    justify-content: space-evenly;
}
.nav li {
    margin: 15px 1px;
}
.nav li link {
    text-decoration: none;
    color: antiquewhite;
}