.navbar{
    background-color: cornflowerblue;
    padding: 10px;

}
.navbar a{
    color: white;
    text-decoration: none;
}

.card{
    box-shadow: 0 0 5px grey;
    width: 300px;
    margin: 15px;
    padding: 10px;
    display: inline-block;
    float: left;
}

.card h3{
    color: cornflowerblue;
}