.navbar{
    background-color: cornflowerblue;
    height: 70px;
    color: white;
}
.navbar ul li {
    display: inline-block;
    margin: 13px 14px;

}
.navbar a{
    display: inline;
    font-size: 15px;
    color: white;
}
.navbar.h1{
    color: white;
}
.navbar .links {
    margin-left: auto;
    padding: 5px;
}
.navbar a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: white;
}