/*
    GLOBAL STYLE SHEET
*/

* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body{
  font-family: Arial, sans-serif;
}

/*.content {*/
/*  max-width: 600px;*/
/*  margin: 40px auto;*/
/*  padding: 20px;*/
/*}*/